.form-wrapper{
    width: 40%;
    height: 300px;
    background-color: #cac8c8;
    margin: 100px auto;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #c7c7c7;
}

.hidden-list{
    display: none;
    padding: 2%;
    width: 40%;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 3px 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.form-section{
    display: inline-block;
    margin-right: 20px;
}

.form-text{
    font-size: 25px;
    font-weight: bold;
}

.form-input{
    outline: 0;
    border: 0;
    height: 25px;
    margin-top: 50px;
}

.form-select{
    width: 60px;
    border: 0;
    height: 25px;
}

.form-button{
    display:block;
    margin: 0 auto;
    font-size: 20px;
    height: 40px;
    width: 30%;
    margin-top: 50px;
    color: white;
    border: 1px solid #fff;
    background-color: red;
}

.result{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}